<div class="container bg-white_bg w-1/2 border-y-4  flex items-center justify-between">
    <div class="container bg-dark_bg text-white px-6 py-3 mx-4 my-4 w-1/2 rounded-2xl flex items-center">
    
        <i class="fa-regular fa-heart"></i> <pre> Like | </pre>
    
        <i class="fa-regular fa-message"></i>  <pre> Comment | </pre>
    
        <i class="fa-regular fa-paper-plane"></i> <pre> Share</pre>
            
    </div>
    <div class="box bg-dark_bg text-white  py-3 px-3  my-4 mx-4 rounded-2xl flex items-end float-right ">
        <i class="fa-regular fa-bookmark"></i> <pre> Save</pre>
    </div>
    </div>