<!-- <div class="w-full bg-slate-400 rounded-md" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;">
  <div class="flex-col justify-center">
    <div class="py-5">Top part</div>
    <div class="h-72 px-5">
      <img src="../../../assets/image/app-image/image.jpg" alt="" class="w-full h-full overflow-hidden object-cover  rounded-lg">
    </div>
    <div class="py-5">Bottom part</div>
  </div>
</div> -->


<div class="bg-[#2a2a2a] w-full p-4 rounded-2xl">
  <div class="flex w-full items-center ">
    <span class="w-12 h-full rounded-2xl overflow-hidden ">
      <img src="../../../assets/image/app-image/pfp1.png" class="" /></span>
    <div>
      <div class="flex items-center text-sm">
        <p class="ml-4 text-gray_text">@Muhadrehh</p>
        <!-- <img src="assets/verified.png" class="w-5 h-5 ml-2" /> -->
        <i class="fa-regular fa-circle-check ml-2 text-blue-400"></i>
      </div>
      <div class="ml-4">
        <div class="flex">
          <p class="text-prime_text">Mudreh Kumbirai</p>
          <p class="text-yellow_text text-sm pl-2">1 hr ago</p>
        </div>
      </div>
    </div>
    <!-- <div class="flex justify-end">
      <img src="assets/dots.png" class="mr-6 w-7 h-6 invert-[1]" />
    </div> -->
  </div>
  <div class="text-second_text text-[15px] text-opacity-90 mt-6">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, ullam quo,
    velit soluta assumenda ratione sapiente cumque quia enim minus omnis
    consequatur, itaque sunt necessitatibus numquam at quidem. Fugiat,
    nobis.
  </div>

  <div class="mt-4 w-full items-center">
    <img src="../../../assets/image/app-image/banner3.jpg" alt="Your post image here" class="rounded-2xl h-96 w-full object-cover " />
  </div>

  <div class="flex justify-between items-center mt-3 w-full">
    <div class="flex justify-start items-center gap-x-5 text-gray_text ">
      
     <button class="hover:text-prime_text transition-all focus:text-clifford"> <i class="fa-regular fa-heart text-lg focus:text-clifford" ></i></button>
     <button class="hover:text-prime_text transition-all"> <i class="fa-regular fa-message text-lg"></i></button>
     <button class="hover:text-prime_text transition-all"> <i class="fa-regular fa-paper-plane text-lg"></i></button>
    </div>
    <div>
      <div class="font-bold bg-yellow_text ml-auto rounded-lg p-4 py-2 text-sm text-black_text hover:opacity-80">
        <button>Hire Me</button>
      </div>
    </div>
  </div>
  <div class="mt-4 flex">

    <span class="w-10 h-full flex-shrink-0 rounded-2xl overflow-hidden ">
      <img src="../../../assets/image/app-image/pfp1.png" class="" alt="Pfp" /></span>

    <div class="flex bg-third_bg w-full ml-4 rounded-2xl ">
      <input type="text" class="rounded-2xl h-11 placeholder:text-gray_text placeholder:text-sm placeholder:text-opacity-80 px-4 w-full outline-none bg-third_bg text-second_text"
        placeholder="Write your comments" />
        <!-- <div class="px-5 flex justify-around items-center gap-x-5"> -->
          
          <div class="px-3 transition-all  text-gray_text hover:bg-second_bg rounded-r-xl  text-center cursor-pointer">
            <i class="fa-regular fa-image text-base p-2 "></i>
          <!-- </div> -->
        </div>
    </div>
  </div>
</div>
