<div class="postBox h-[290px] w-auto overflow-hidden relative">
    <a href="#" class="group">
        <div class="opacity-0 group-hover:opacity-100 transition-all overlay absolute z-10 w-full h-full bg-contain"
            style="background-image: url(../../../../assets/image/app-image/dropshadow.png);">
            <div class="info absolute m-3 bottom-0"> 
                <img src="../../../../assets/image/app-image/pfp4.png"
                     class="w-12 rounded-full float-left" alt="userpfp">
                <div class="title ml-[60px] font-bold  text-lg truncate">{{post.posttitle}}</div>
                <div class="name ml-[60px] text-xs">{{post.userfname}}</div>
            </div>
        </div>
        <img src="../../../../assets/image/app-image/{{post.postimg}}" class="align-middle h-full w-auto" alt="postimage">
    </a>
</div>