<div>
    <div class="w-full h-[60vh] overflow-hidden bg-white">
        <img src="../../../../assets/image/app-image/banner2.jpg" alt="" class="w-full">
    </div>

    <div class="w-full flex bg-dark_bg">
        <div class="w-fit text-prime_text">
            <div
                class="w-[120px] h-[120px] bg-white m-auto mt-[-50px] relative  border-8 border-second_bg rounded-lg overflow-hidden">
                <img src="../../../../assets/image/app-image/pfp2.png" class="w-full" alt="">
            </div>
            <h1 class="text-prime_text text-center text-2xl pt-3">Harshit Laxkar</h1>
            <span>Kota, India</span>
        </div>

    </div>
</div>