<div class="text-prime_text w-full h-full">
    <!--Top Banner -->
    <div class="w-full h-[60vh] bg-cover" style="background-image: url(../../../../assets/image/app-image/banner4.png);"> banner
    </div>

    <!-- User Info area -->
    <div class="flex justify-center ">
        <span class="numbers text-2xl px-10 text-center mt-[-32px] hover:text-yellow_text cursor-pointer   h-fit">
            <div>300</div>
            <div>Followers</div>
        </span>
        <div class="usercard mt-[-100px]  w-[250px] text-center ">
            <img class="m-auto w-[150px] border-4 rounded border-second_bg drop-shadow-xl cursor-pointer"
                src="../../../../assets/image/app-image/pfp1.png" alt="">
            <h2 class="py-2 font-bold text-3xl">Harshit Laxkar</h2>
            <h6 class="text-gray-400">Illustration Colorist</h6>
            <h6 class="text-gray-400">Kota, India</h6>
            <a href="#" class="text-yellow_text underline ">hlaxkar.artblock.com</a>
        </div>
        <span class="numbers text-2xl px-10 text-center mt-[-32px] hover:text-red-500 cursor-pointer   h-fit">
            <div class="">500</div>
            <div>Followings</div>
        </span>
    </div>

    <!-- Bottom area -->
    <div class="bg-dark_bg">
        <!-- posts grid -->
        <div class="postGrid flex gap-4 flex-wrap m-10">
            <div class="postBox h-[290px] w-auto overflow-hidden relative">
                <a href="#" class="group">
                    <div class="opacity-0 group-hover:opacity-100 transition-all overlay absolute z-10 w-full h-full bg-contain"
                        style="background-image: url('../../../../assets/image/app-image/dropshadow.png');">
                        <div class="info absolute m-3 bottom-0">
                            <img src="../../../../assets/image/app-image/pfp4.png" class="w-12 rounded-full float-left"
                                alt="userpfp">
                            <div class="title ml-[60px] text-lg truncate">Lord Duck and his amazing artworks</div>
                            <div class="name ml-[60px] text-xs">Harshit Laxkar</div>
                        </div>
                    </div>
                    <img src="../../../../assets/image/app-image/port3.jpg" class="align-middle h-full w-auto" alt="">
                </a>
            </div>

            <ng-container *ngFor="let post of postList; let i=index">
                <app-postbox [post]="post"></app-postbox>
                <app-postbox [post]="post"></app-postbox>
            </ng-container>

        </div>
    </div>
</div>