 <div class="w-screen h-screen  bg-black"> <!--overflow-hidden -->
   <div class="grid grid-cols-14 w-full h-full  "> <!--overflow-y-hidden -->
    <div class="col-start-1 col-span-full bg-dark_bg rounded-md shadow-md " style="box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;"> <!--overflow-hidden -->
        <!-- <app-top-nav></app-top-nav> -->
        <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- <--<app-logincard></app-logincard> -->
<!--<app-community-box></app-community-box>-->

<!-- <app-action-bar></app-action-bar> -->
<!-- <app-top-nav></app-top-nav> -->

