<div class="main-div text-prime_text">
    <div class="profile-picture bg-second_bg">
        <div class="name-div">
            <div>
                <i class="fa-solid fa-circle-plus"></i>
                <img src="../../../../assets/image/app-image/pfp2.png"
                    alt="profile picture">
            </div>
            <p>Welcome, Harshit</p>
        </div>
        <div class="Dashboard">
            <ul class="Dashboard-ul ">
                <li><i class="fa-solid fa-circle-info"></i><button type="button">Account</button></li>
                <li><i class="fa-solid fa-circle-plus"></i><button type="button">Messaging</button></li>
                <li><i class="fa-solid fa-clock-rotate-left"></i><button type="button">Notifications</button></li>
                <li><i class="fa-solid fa-user"></i><button type="button">Security</button></li>
                <li><i class="fa-solid fa-dollar-sign"></i><button type="button">Permissions</button></li>
                <li><i class="fa-solid fa-gear"></i><button type="button">Browsing</button></li>
            </ul>
        </div>
        <!-- <div class="logout">
            <i class="fa-solid fa-right-from-bracket"></i>
            <button type="submit">Logout</button>
        </div> -->
    </div>



    <div class="personal-info text-white overflow-auto">

            <h1 class="first-heading">Your personal profile info</h1>

        <div class="profile-password">
            <div class="name-form">
                <h1>PROFILE</h1>
            <div class="profile-form">
                <div class="name-form-1" >
                    <form action="">
                        <label for="first-name">First name</label>
                        <input type="text" name="fname" id="first-name" placeholder="Name">
                        <label for="last-name">Last name</label>
                        <input type="text" name="lname" id="last-name" placeholder="Surname">
                        <label for="uname">Username (not your e-mail)</label>
                        <input type="text" name="uname" id="uname" placeholder="Username">
                        <label for="email">Your e-mail</label>
                        <input type="email" name="email" id="email" placeholder="mail@example.com">
                    </form>
                </div>
                <div class="phone-div">
                    <form action="">
                        <label for="pnumber">Personal phone number</label>
                        <input type="tel" id="pnumber" name="pnumber" placeholder="enter phone number">
                        <label for="wnumber">Work phone number</label>
                        <input type="tel" id="wnumber" name="wnumber" placeholder="enter work number">
                        <label for="country">Country, city</label>
                        <select id="country" name="country">
                            <option value="Afghanistan">Afghanistan</option>
                        
                        <option value="Zimbabwe">Zimbabwe</option>
                        </select>
                        <label for="org">Organization</label>
                        <input type="text" id="org" placeholder="Organization name" name="organization">
                    </form>
                </div>
            </div>
        </div>
            <div class="password">
                <h1>PASSWORD</h1>
                <form action="">
                    <label for="password">Old passowrd <span class="asterisk">*</span></label>
                    <input type="password" id="password" name="password" placeholder=" enter old passowrd">
                    <label for="new password">New passowrd <span class="asterisk">*</span></label>
                    <input type="password" id="new password" name="new password" placeholder=" new passowrd">
                    <label for="confirm new password">Confirm new passowrd <span class="asterisk">*</span></label>
                    <input type="password" id="confirm new password" name="confirm new password" placeholder=" confirm new passowrd">
                </form>
                <button  type="button" class="correct">Correct.Save info</button>

            </div>
        </div>
    </div>
</div>