/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css"); */
@font-face {
  font-family: "Avenir";
  src: url('assets/font/AvenirLTStd-Book.otf');
  font-weight: normal;
}
@font-face {
  font-family: "Avenir";
  src: url('assets/font/AvenirLTStd-Roman.otf');
  font-weight: 500;
}
@font-face {
  font-family: "Avenir";
  src: url('assets/font/AvenirLTStd-Black.otf');
  font-weight: bold;
}
::-webkit-scrollbar {
  width: 0vw;
  height: 0vw;
}
:root {
  --dark_bg: #1a1a1a;
  --prime_text: #FFEFE2;
  --second_text: #FCF3fd;
  --second_bg: #282828;
  --white_bg: #fafafa;
  --yellow: #fffd01;
  --black_text: #14121E;
  --gray_text: #8b8b8b;
  --btn_bg: #2f2f2f;
}
html,body{
  font-family: 'Avenir';
  width: 100%;
  height: 100%;
}

@layer components{
  .input-field-box{
     @apply box-border p-2 flex rounded-sm bg-dark_bg mt-1 mb-6;
  }
  .input-field{
    @apply w-full rounded-sm bg-dark_bg focus-visible:outline-none;
  }
}