<a href="#"><div class="w-full flex items-center mb-2 ">
    <span class="w-1/4 rounded-2xl  overflow-hidden mr-5  border-gray_text border-2">
      <img src="../../assets/image/{{data.image}}" alt="">
    </span>
    <span class="w-full">
      <h3 class="text-base">{{data.group}}</h3>
      <span class=""><i class="fa fa-circle text-xs text-yellow " aria-hidden="true"></i>
        <h4 class="text-gray_text text-sm inline ml-2">32 your friends are in</h4>
      </span>

    </span>
  </div></a>
    
    


